
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    background-image: url("mafiaWallpaper.jpg");
    background-size: 100% cover;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
} 

p{
    margin: 0;
    padding: 0;
}

button{
  color: #3264fe;
  color: #fff;
  background-color: #fff;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.functional{
    display: flex;
}

.inputs{
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.input_header{
    font-size: 30px;
    font-weight: bold;
    margin-top: 3vh;
}

#countOfPlayers{
    width: 100%;
    text-align: center;
}

/* .logo{
    display: flex;
    width: 100px;
    height: 100px;
}

.logo_img{
    width: 100px;
    height: 100px;
    z-index: -1;
} */

.roles{
    width: 33.333%;
    text-align: center;
    margin-top: 2vh;
}

.role_header{
    margin-bottom: 2vh;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
}

.btns{
    width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    width: 50%;
    height: 100px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.reset_btn{
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%);
    font-size: 22px;
    height: 80px;
    width: 160px;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 10px #fff;
}

#addMafia{
    background-image: linear-gradient(to right, #434343 0%, #000000 51%, #434343 100%);
    margin-top: 0px;
}

#addDon{
    background-image: linear-gradient(to right, #C04848 0%, #480048 51%, #C04848 100%);
}

#addDoctor{
    background-image: linear-gradient(to right, #00bf8f 0%, #001510 51%, #00bf8f 100%);
}


#addSheriff{
    background-image: linear-gradient(to right, #0099F7 0%, #F11712 51%, #0099F7 100%);
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.footer_item{
  display: flex;
  justify-content: center;
  width: 33.333%;
}

#viewResult{
    width: 300px;
    height: 55px;
}

.decrBtn:active{
  transform: translateY(2px);
}

.incrBtn::target-text:active{
  transform: translateY(2px);
}

.container{
    display: flex;
    border-radius: 45px;
    box-shadow: 
        inset 0px 11px 8px -10px #000000,
        inset 0px -11px 8px -10px #000000;  
    justify-content: center;
    background-color: #0040ff;
    width: 40%;
    margin-top: 4vh;
}



input[type="number"]{
    -moz-appearance: textfield;
    text-align: center;
    font-size: 50px;
    border: none;
    color: #ffffff;
    background-color: #0040ff;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 
    inset 0px 11px 8px -10px rgb(0, 0, 0),
    inset 0px -11px 8px -10px rgb(0, 0, 0); 
}

input[type="number"]:focus-visible{
    outline: 0;
}
    

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}




.container button{
  color: #3264fe;
  color: #fff;
  background-color: #fff;
  border: none;
  font-size: 40px;
  cursor: pointer;
}


#decrement{
    padding: 10px 5px 15px 25px;
    border-radius: 45px 0 0 45px;
    background-color: #0040ff;
    box-shadow: 
        inset 0px 11px 8px -10px #000000,
        inset 0px -11px 8px -10px #000000; 

}

#increment{
    padding: 15px 25px 15px 5px;
    border-radius: 0 45px 45px 0;
    background-color: #0040ff;
    box-shadow: 
        inset 0px 11px 8px -10px #000000,
        inset 0px -11px 8px -10px #000000; 
        
}

.incrBtn{
  font-size: 40px;
  transition: 0.2s;
  display: flex;
}

.decrBtn{
  font-size: 40px;
  transition: 0.2s;
  display: flex;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.timer_new60{
    background-color: grey;
    display: inline-flex;
    font-size: 30px;
}

.timer_panel{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.timer_panel_item{
    display: inline-flex;
    width: 25%;
}

#timer_time{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.plus30{
    background-color: gray;
    text-transform: lowercase;
    transition: 0.1s;
    box-shadow: 0 0 2px #fff;
}

.plus30:active{
    transform: translateY(0.11em);
}

.timer_panel{
    background-color: #fff;
    border-radius: 40px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);

}

.imgAnim{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-top: 10px;
}

.displayNone{
    display: none;
}


.timer_panel_plusMinus{
    display: flex;
    padding: 30px;
    padding-top: 0px;
}

.timer_panel_plusMinus button{
    width: 50%;
    margin: 10px;
}

.timer_panel_new60{
  margin: 0 20px 0 20px;
}




















.addRoleButton {
  padding: 0.6em 1.5em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 30px;
  width: 400px;
  text-transform: uppercase;
}

.addRoleButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.addRoleButton:active::before{
    background: none;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  } 
}

.addRoleButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
  pointer-events: none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}
