
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    background-image: url("mafiaWallpaper.jpg");
    background-size: 100% cover;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
} 

p{
    margin: 0;
    padding: 0;
}

.functional{
    display: flex;
}

.inputs{
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.input_header{
    font-size: 30px;
    font-weight: bold;
}

#countOfPlayers{
    width: 30%;
    text-align: center;
}

.roles{
    width: 33.333%;
    text-align: center;
}

.role_header{
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
}

.btns{
    width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    width: 50%;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 10px #fff;
}

#addMafia{
    background-image: linear-gradient(to right, #434343 0%, #000000 51%, #434343 100%);
}

#addDon{
    background-image: linear-gradient(to right, #C04848 0%, #480048 51%, #C04848 100%);
}

#addDoctor{
    background-image: linear-gradient(to right, #00bf8f 0%, #001510 51%, #00bf8f 100%);
}


#addSheriff{
    background-image: linear-gradient(to right, #0099F7 0%, #F11712 51%, #0099F7 100%);
}

.resultBtn{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

#viewResult{
    background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
    width: 350px;
    height: 70px;
}


.container{
    display: flex;
    background-color: #ffffff;
    border-radius: 45px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.15);
}

input[type="number"]{
    -moz-appearance: textfield;
    text-align: center;
    font-size: 40px;
    border: none;
    background-color: #ffffff;
    color: #202030;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

button{
    color: #3264fe;
    background-color: #ffffff;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

#decrement{
    padding: 15px 5px 15px 25px;
    border-radius: 45px 0 0 45px;
}

#increment{
    padding: 15px 25px 15px 5px;
    border-radius: 0 45px 45px 0;
}